{% extends "zaklad.twig" %}

{# Prekryti bloku Obsah v predkovi #}
{% block obsah %}
    {% if prihlasen == true %}
    <article>
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ titulek }}</h1>
                Zde naleznete seznam uživatelů pro správu.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Uživatelé</h2>
                <div style="overflow-x:auto;">  <!--responsivita-->
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="active">
                            <th>Login</th>
                            <th>Jméno</th>
                            <th>Příjmení</th>
                            <th>E-mail</th>
                            <th>Práva</th>
                            <th>Změnit práva</th>
                            <th>Akce</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ucet in ucty %}
                            <tr>
                                <td>{{ ucet.login }}</td>
                                <td>{{ ucet.jmeno }}</td>
                                <td>{{ ucet.prijmeni }}</td>
                                <td>{{ ucet.email }}</td>
                                <td>
                                    <select class="form-control" id="prava_{{ ucet.login }}">
                                        {% if ucet.prava == "autor" %}
                                            <option value="autor" selected>autor</option>
                                        {% else %}
                                            <option value="autor">autor</option>
                                        {% endif %}

                                        {% if ucet.prava == "recenzent" %}
                                            <option value="recenzent" selected>recenzent</option>
                                        {% else %}
                                            <option value="recenzent">recenzent</option>
                                        {% endif %}

                                        {% if ucet.prava == "admin" %}
                                            <option value="admin" selected>admin</option>
                                        {% else %}
                                            <option value="admin">admin</option>
                                        {% endif %}
                                    </select>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-block btn-info" onclick="zmenitPrava('{{ ucet.login }}')">Změnit</button>
                                </td>
                                <td>
                                    {% if ucet.blokovan == "n" %}
                                        <button type="button" class="btn btn-block btn-success" onclick="blokovat('{{ ucet.login }}')">Blokovat</button>
                                    {% else %}
                                        <button type="button" class="btn btn-block btn-danger" onclick="odblokovat('{{ ucet.login }}')">Odblokovat</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    {% endif %}
{% endblock %}