{# vypis radky recenzenta v tabulce #}
{% macro recRow(row, idPrisp) %}

        <td>{{ clanek.recenze[row].UCTY_login }}</td>
        <td>{{ clanek.recenze[row].stav }}</td>
        <td>{{ clanek.recenze[row].originalita }}</td>
        <td>{{ clanek.recenze[row].tema }}</td>
        <td>{{ clanek.recenze[row].kvalita }}</td>
        <td>{{ clanek.recenze[row].prijmout }}</td>
        <td>Vymazat</td>

{% endmacro %}



{% if clanek.pocetRecenzi > row %}
    <td>{{ clanek.recenze[row].UCTY_login }}</td>
    <td>{{ clanek.recenze[row].stav }}</td>
    <td>{{ clanek.recenze[row].originalita }}</td>
    <td>{{ clanek.recenze[row].tema }}</td>
    <td>{{ clanek.recenze[row].kvalita }}</td>
    <td>{{ clanek.recenze[row].prijmout }}</td>
    <td>Vymazat</td>
{% else %}
    <td colspan="7">
        <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#recenzeAddWindow" onclick="prepareForRec({{ idPrisp }})">Přidělit recenzi</button>
    </td>
{% endif %}