{% extends "zaklad.twig" %}

{# Prekryti bloku Obsah v predkovi #}
{% block obsah %}
    {% if prihlasen == true %}
    <article>
        <div class="row">
            <div class="col-sm-12">
                <h1>{{ titulek }}</h1>
                Zde naleznete seznam článků k recenzování.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Neodevzdané recenze</h2>
                {% for recenze in zadaneRecenze %}
                    <div class="row">
                        <a class="clanek">

                            <div class="col-sm-4">
                                <h3>{{ recenze.nazev }}</h3>
                                <h4>{{ recenze.autori }}</h4>
                                <h5>Originalita: {{ recenze.originalita }}</h5>
                                <h5>Téma: {{ recenze.tema }}</h5>
                                <h5>Kvalita: {{ recenze.kvalita }}</h5>
                                <h5>Doporučení: {{ recenze.prijmout }}</h5>

                            </div>
                            <div class="col-sm-6">
                                {{ recenze.abstract }}
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-block btn-success" data-toggle="modal" data-target="#posWindow" onclick="preparePosuzovani({{ recenze.id_recenze }}, '{{ recenze.nazev }}')">K recenzi</button>
                                <form action="clanekOper.php" method="post" target="_blank">
                                    <input type="hidden" name="id" value="{{ recenze.PRISPEVKY_id_prispevku }}">
                                    <button class="btn btn-block btn-info" type="submit" name="action" value="showPDF" style="margin-top: 5px">Otevřít pdf</button>
                                </form>
                            </div>
                        </a>

                    </div>
                {% endfor %}

                <!-- Modal up formular pro recenzi -->
                <div class="modal fade" id="posWindow" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <form name="posForm" class="modal-content animate" onsubmit="return odevzdejRecenzi()" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label><b>Název příspěvku</b></label>
                                    <input type="text" name="nazev" readonly>
                                </div>
                                <div class="form-group">
                                    <label><b>Originalita</b></label>
                                    <select class="form-control" name="originalita" required>
                                        <option value="1">1 = bez myšlenky</option>
                                        <option value="2">2 = pouze pár myšlenek</option>
                                        <option value="3">3 = několik myšlenek</option>
                                        <option value="4">4 = zajímavé myšlenky</option>
                                        <option value="5">5 = spoustu zajímavých myšlenek</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><b>Téma</b></label>
                                    <select class="form-control" name="tema" required>
                                        <option value="1">1 = úplně jiné téma</option>
                                        <option value="2">2 = nedrží se tématu</option>
                                        <option value="3">3 = vcelku relevantní</option>
                                        <option value="4">4 = relevantní</option>
                                        <option value="5">5 = velmi relevantní</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><b>Kvalita</b></label>
                                    <select class="form-control" name="kvalita" required>
                                        <option value="1">1 = bídná</option>
                                        <option value="2">2 = podprůměrná</option>
                                        <option value="3">3 = průměrná</option>
                                        <option value="4">4 = dobrá</option>
                                        <option value="5">5 = vynikající</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><b>Doporučení</b></label>
                                    <select class="form-control" name="doporuceni" required>
                                        <option value="1">1 = nepřijmout</option>
                                        <option value="2">2 = spíše nepřijmout</option>
                                        <option value="3">3 = nevím</option>
                                        <option value="4">4 = spíše přijmout</option>
                                        <option value="5">5 = přijmout</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="abstract"><b>Poznámka</b></label>
                                    <textarea class="form-control" name="info" rows="5"></textarea>
                                </div>

                                <button class="btn btn-success" type=submit">Odevzdat recenzi</button>
                                <button class="btn btn-danger" type="button" data-dismiss="modal">Zrušit</button>
                            </div>
                            <input type="hidden" name="action" value="posouzeni">
                            <input type="hidden" name="idRecenze">
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </article>
    {% endif %}
{% endblock %}