<!DOCTYPE html>
<html lang="cs">

<head>
    <title>{{ titulek }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css bootstrapu -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- dodatečný styl -->
    <link rel="stylesheet" href="view/sablony/styl.css">

    <script src="model/scripts/registerFormValidation.js"></script>

</head>

<body>
<div class="container">

{% if prihlasen != true %}
    <!-- Modal pop up formular pro prihlaseni -->
    <div class="modal fade" id="loginWindow" role="dialog">
        <div class="modal-dialog modal-lg">
            <form class="modal-content animate" action="index.php?page={{ page }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label><b>Login</b></label>
                        <input type="text" placeholder="Zadejte váš login" name="login" required>
                    </div>
                    <div class="form-group">
                        <label><b>Heslo</b></label>
                        <input type="password" placeholder="Zadejte heslo" name="pass" required>
                    </div>
                    <button class="btn btn-success" type=submit">Přihlásit se</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Zrušit</button>
                </div>
                <input type="hidden" name="action" value="login">
            </form>
        </div>
    </div>


    <!-- Modal up formular pro registraci -->
    <div class="modal fade" id="registerWindow" role="dialog">
        <div class="modal-dialog modal-lg">
            <form name="registerForm" class="modal-content animate" action="index.php?page={{ page }}" onsubmit="return validateRegisterForm()" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label><b>Login</b></label>
                        <input type="text" placeholder="Zadejte váš login" name="login" required>
                    </div>
                    <div class="form-group">
                        <label><b>Heslo</b></label>
                        <input type="password" oninput="checkRegisterForm()" placeholder="Zadejte heslo" name="pass" required>
                    </div>
                    <div class="form-group">
                        <label><b>Heslo pro kontrolu</b> <span id="passGlyph" class="glyphicon glyphicon-remove"></span></label>
                        <input type="password" oninput="checkRegisterForm()" placeholder="Zadejte heslo pro kontrolu" name="pass2" required>
                    </div>
                    <div class="form-group">
                        <label><b>Jméno</b></label>
                        <input type="text" placeholder="Zadejte jméno" name="name" required>
                    </div>
                    <div class="form-group">
                        <label><b>Příjmení</b></label>
                        <input type="text" placeholder="Zadejte příjmení" name="surname" required>
                    </div>
                    <div class="form-group">
                        <label><b>E-mail</b></label>
                        <input type="email" placeholder="Zadejte váš e-mail" name="email" required>
                    </div>
                    <button class="btn btn-success" type=submit">Zaregistrovat se</button>
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Zrušit</button>
                </div>
                <input type="hidden" name="action" value="register">
            </form>
        </div>
    </div>
{% endif %}

    <!-- Zahlavi -->
    <header class="jumbotron">
        <h1>WEB konference</h1> semestrálni práce z předmětu KIV/WEB..
    </header>


    <!-- menu -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                {% if page == "uvod" %}
                    <li class="active"><a href="index.php?page=uvod">Úvod</a></li>
                {% else %}
                    <li><a href="index.php?page=uvod">Úvod</a></li>
                {% endif %}

                {% if page == "clanky" %}
                    <li class="active"><a href="index.php?page=clanky">Články</a></li>
                {% else %}
                    <li><a href="index.php?page=clanky">Články</a></li>
                {% endif %}

        {% if prihlasen == true %}
                {% if page == "mojeClanky" %}
                    <li class="active"><a href="index.php?page=mojeClanky">Moje články</a></li>
                {% else %}
                    <li><a href="index.php?page=mojeClanky">Moje články</a></li>
                {% endif %}
            {% if prava == "recenzent" or prava == "admin" %}
                {% if page == "posuzovani" %}
                    <li class="active"><a href="index.php?page=posuzovani">Moje recenze</a></li>
                {% else %}
                    <li><a href="index.php?page=posuzovani">Moje recenze</a></li>
                {% endif %}
            {% endif %}
            {% if prava == "admin" %}
                {% if page == "administrace" %}
                    <li class="active"><a href="index.php?page=administrace">Administrace</a></li>
                {% else %}
                    <li><a href="index.php?page=administrace">Administrace</a></li>
                {% endif %}
            {% endif %}

        {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
{% if prihlasen == true %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ login }} ({{ prava }})
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <form action="index.php?page={{ page }}" method="post">
                            <input type="hidden" name="action" value="logout">
                            <li><button class="btn btn-danger btn-block" type="submit">Odhlásit se</button></li>
                        </form>
                    </ul>
                </li>
{% else %}
                <li><a href="" data-toggle="modal" data-target="#registerWindow"><span class="glyphicon glyphicon-user"></span> Registrace</a></li>
                <li><a href="" data-toggle="modal" data-target="#loginWindow"><span class="glyphicon glyphicon-log-in"></span> Přihlášení</a></li>
{% endif %}
            </ul>
        </div>
    </nav>


    {% if danger != "" %}
        <div class="alert alert-danger">
            {{ danger }}
        </div>
    {% endif %}
    {% if success != "" %}
        <div class="alert alert-success">
            {{ success }}
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-body">
    {% block obsah %}
        {# zde bude obsah stranky, pokud nejaky bude #}
            <article>
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{{ titulek }}</h1>
                        Vítejte na stránkách webové konference. Tato stránka byla vytvořena ze studijních účelů.
                    </div>
                </div>
            </article>
    {% endblock %}
        </div>

        <!-- Zapati -->
        <div class="panel-footer">
            <footer class="row">
                <div class="col-sm-12 text-center">
                    © 2016 Josef Baloun
                </div>
            </footer>
        </div>
    </div>
</div>

</body>

</html>